name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux x86_64
          - os: macos-13
            name: macOS x86_64
          - os: macos-latest
            name: macOS ARM64
          - os: windows-latest
            name: Windows x86_64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
      - name: Run unit tests
        run: bazel test //test/...
      - name: Run examples
        run: cd examples && bazel test ...
