name: Publish to BCR

on:
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string
    secrets:
      publish_token:
        required: true
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag to publish"
        required: true
        type: string

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  publish:
    uses: bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v0.2.3
    with:
      tag_name: ${{ inputs.tag_name }}
      registry_fork: bazel-io/bazel-central-registry
      draft: false
    secrets:
      publish_token: ${{ secrets.publish_token || secrets.BCR_PUBLISH_TOKEN }}
