name: Release

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release.yaml@v1
    with:
      release_files: rules_fortran-*.tar.gz

  publish:
    needs: release
    uses: ./.github/workflows/publish.yaml
    with:
      tag_name: ${{ github.ref_name }}
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
